.pop-modal{
    width: 20%;
    text-align: center;
}
.money-div{
    background: #F5F5F5;
    color: #03296B;
}
.text-modal{
    color: #03296B;
    font-size: 0.8rem !important;
}
.small-txt{
    font-size: 0.8rem !important;
}
.number{
    background: #03296B;
    color: #fff;
    width: 80%;
}
.validate a {
    text-decoration: none;
    color: #A0A3BD;
    font-size: 0.8rem !important;
}